<section class="body">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">  
      <a class="navbar-brand" href="#">✈️ Airline Passanger</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/flights">Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/book">Book Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    
  </nav>

   <div class="container p-2">
    <div class="row">
      <div class="col-md-12">
        <!-- <app-product-dashboard></app-product-dashboard>
        <hr>
        <app-prod-dashboard></app-prod-dashboard>
        <hr> -->
        
      </div>
    </div>
   </div>
</section>

 